.card{
    width: 90%;
    max-width: 470px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    color: #fff;
    background: linear-gradient(135deg,#18dcd8, #2b6fc1,rgb(80, 193, 127) , #e0ec07, #f76802 100%);
}
.serch{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search input{
    width: 65%;
    padding: 10px;
    background: #ffffff;
    color: #000000;
    border-radius: 30px;
    text-align: center;
    margin-right: 16px;
    border: none;
    outline: none;
    font-size: 18px;
}
.search button{
   
    border: 0;
    outline: 0;  
    width: 40px;
    height: 40px;
    background-color: white ;
    color: white;
   
    border-radius: 50%;
    
}
.search button img{
    width: 18px;
    height: 18px;

}
.weather-icon{
    width: 170px;
    margin-top: 30px;

}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: -10px;
 
}
.weather h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: -40px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
     margin-bottom: 20px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
    margin-bottom: 9px;
    margin-left: 10px;
}
.weather{
    display: none;
}
.error{
  text-align: left;
  margin-top: 10px;
  font-size: 18px;
  margin-left: 10px;
  display: none;
}
